<%- include('parts/header') %> 
<%- include('parts/navbar') %> 

<div class="container">

    <form action="/" method="GET">
        <select name="category" class="form-control">
            <option value="all">All</option>
            <option value="gaming">Gaming</option>
            <option value="backpacks">BackPacks</option>
            <option value="kitchen">Kitchen</option>
            <option value="women">Women</option>
            <option value="kids">KIDS</option>
        </select>
        <input type="submit" class="btn btn-primary" value="filter">

    </form>
    <% if(validationError) { %>
        <p class="alert alert-danger">
            <%= validationError.msg%>
        </p>
    <% } %>

    <% if(products.length === 0) { %>
      <div class="alert alert-danger">
          There is no products
      </div>  
      <% } else { %>
        <div class="row">
            <% for(let product of products){ %>
                <div class="col col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card" style="width: 18rem;">
                          <img src="<%= product.image %>" class="card-img-top" alt="image">
                         <div class="card-body">
                            <h5 class="card-title">
                                <a href="/product/<%= product._id %>"><%= product.name%></a>
                                    <p>Price: <%= product.price %> $</p>
                            </h5>
                            <form action="/cart" method="POST" class="add-to-cart-form">
                            <input type="number" name="amount" class="form-control">
                            <input type="hidden" name="name" value="<%= product.name%>">
                            <input type="hidden" name="price" value="<%= product.price%>">
                            <input type="hidden" name="productId" value="<%= product._id%>">
                            <input type="hidden" name="redirectTo" value="/">
                            <input type="submit" value="Add to cart" class="btn btn-primary">
    
                            </form>
                        </div>
                    </div>
                </div>
    
         <%   } %>
        </div>

        <% } %>

    
</div>

<%- include('parts/footer') %> 

